.App {
    margin: 0 auto;
    background-color: rgb(236, 229, 229);
    display: flex; 
    justify-content: center;
    max-width: 1200px;
    padding-bottom: 30px;
}
.wrapper{
    background-color: rgb(236, 229, 229);
}